<div th:fragment="editar_utilizadores_frag">
<div class="section__content section__content--p30">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">Editar Utilizadore</div>

      <div class="card-body">
        <form th:each="parametros : ${utilizador}" action="/editutil" method="post">
          <input class="form-control" name="id" type="hidden" th:value="${parametros.id}"> <!-- gravar neste id -->
          <input class="form-control" name="tipo" type="hidden" th:value="${parametros.tipo}">
          <input class="form-control" name="idrestaurante" type="hidden" th:value="5bf85ca53f5990216aaccb7a">
          <input class="form-control" name="id_restaurante" type="hidden" th:value="${parametros.id_restaurante}">
          <div class="form-group">
            <label>Nome:</label>
            <input class="form-control" placeholder="Nome" name="nome" type="text" th:value="${parametros.nome}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email:</label>
            <input class="form-control" placeholder="" name="email" type="text" th:value="${parametros.email}">
          </div>
          <div class="form-group">
            <label>Contacto:</label>
            <input class="form-control" placeholder="" name="contacto" type="number" th:value="${parametros.contacto}">
          </div>
          <div class="form-group">
            <label>Username:</label>
            <input class="form-control" placeholder="" name="username" type="text" th:value="${parametros.username}">
          </div>

          <div class="form-group">
            <label>Password:</label>
            <input class="form-control" placeholder="" name="password" type="text" th:value="${parametros.password}">
          </div>

          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

      </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
