<div th:fragment="editar_rest_frag">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script>
  $(document).ready(function(){
      if($("#dia1").val() == "Monday"){
        $("#dia1").val("0")
      }else {
          $("#dia1").val("Monday");
      }
  });
</script> -->

  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">Editar Restaurante</div>

        <div class="card-body">
          <form th:each="parametros : ${restaurante}" action="/resgistar_restaurante" method="post" enctype="multipart/form-data">
            <input class="form-control" name="id" type="hidden" th:value="${parametros.id}"> <!-- gravar neste id -->
            <div class="form-group">
              <label for="exampleInputEmail1">Nome:</label>
              <input class="form-control" placeholder="Nome" name="nome" type="text" th:value="${parametros.nome}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Longitude:</label>
              <input class="form-control" placeholder="-045677897" name="longitude" type="number" th:value="${parametros.longitude}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Latitude:</label>
              <input class="form-control" placeholder="4879090877" name="latitude" type="number" th:value="${parametros.latitude}">
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Categoria</label>
              <select name="categoria" class="form-control" id="exampleSelect1">
                <option value="">[[${parametros.categoria}]]</option>
                <option value="Comida Portuguesa">Comida Portuguesa</option>
                <option value="Chinês">Chinês</option>
                <option value="Sushi">Sushi</option>
                <option value="Fast-Food">Fast-Food</option>
              </select>
            </div>

          <!-- <div th:each="coisa : ${parametros.arDias_Semana}">
            <input type="text" name="" th:value="${coisa}">
          </div> -->


          <!--  <input type="text" th:field="${parametros}[__${stat.index}__].arDias_Semana}" />
          <select th:field="*{parametros}">
            <option
        th:each="parametros : ${arDias_Semana[1]}"
        th:value="${user.getId}"
        th:text="${user.getName}">
        </option>
        </select>-->

            <input type="hidden" name="dia1" value="Encerrado" id="dia1">
            <input type="hidden" name="dia2" value="Encerrado" id="dia2">
            <input type="hidden" name="dia3" value="Encerrado"  id="dia3">
            <input type="hidden" name="dia4" value="Encerrado"  id="dia4">
            <input type="hidden" name="dia5" value="Encerrado"  id="dia5">
            <input type="hidden" name="dia6" value="Encerrado"  id="dia6">
            <input type="hidden" name="dia7" value="Encerrado"  id="dia7">


            <div class="form-group">
              <label for="exampleInputEmail1">Dias funcionais:</label>
              <span th:each="teste : ${arr}">
                <span th:if="${teste} == 'Monday'">
                  <input type="checkbox" id="Monday" aria-label="Checkbox for following text input">
                </span>
                <span th:unless="${teste} == 'Tuesday'">
                  <input type="checkbox" id="Tuesday" aria-label="Checkbox for following text input">
                </span>
                <span th:unless="${teste} == 'Wednesday'">
                  <input type="checkbox" id="Wednesday" aria-label="Checkbox for following text input">
                </span>
                <span th:unless="${teste} == 'Tuesday'">
                  <input type="checkbox" id="Tuesday" aria-label="Checkbox for following text input">
                </span>
                <span th:unless="${teste} == 'Friday'">
                  <input type="checkbox" id="Friday" aria-label="Checkbox for following text input">
                </span>
                <span th:unless="${teste} == 'Saturday'">
                  <input type="checkbox" id="Saturday" aria-label="Checkbox for following text input">
                </span>
                <span th:unless="${teste} == 'Sunday'">
                  <input type="checkbox" id="Sunday" aria-label="Checkbox for following text input">
                </span>
                <div class="input-group-prepend">
                  <input th:value=${teste} class="form-control" aria-label="Text input with checkbox" disabled>
                </div>
              </span>
            </div>



        <!--    <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Tuesday" value="Tuesday" aria-label="Checkbox for following text input">
                <input value="Tuesday" name="Tuesday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Wednesday"  value="Wednesday" aria-label="Checkbox for following text input">
                <input value="Wednesday" name="Wednesday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Thursday" value="Thursday" aria-label="Checkbox for following text input">
                <input value="Thursday" name="Thursday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Friday"  value="Friday" aria-label="Checkbox for following text input">
                <input value="Friday" name="Friday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Saturday" value="Saturday"  aria-label="Checkbox for following text input">
                <input value="Saturday" name="Saturday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Sunday" value="Sunday" aria-label="Checkbox for following text input">
                <input value="Sunday" name="Sunday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div> -->

            <div class="form-group"> <label for="exampleTextarea">Descrição</label>
            <textarea class="form-control" name="descricao" rows="3" th:inline="text">[[${parametros.descricao}]]</textarea>
            </div>

            <div class="form-group">
            <label for="exampleTextarea">Foto Atual</label>
            <img class="form-control" th:src="${parametros.picture}" style="width:250px;">
            </div>

            <div class="form-group">
            <label for="exampleInputFile">Alterar Foto...</label>
            <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple>
            </div>


            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
