<div th:fragment="editmenu_frag">

<div class="section__content section__content--p30">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">Editar Menu</div>

      <div class="card-body">
        <form th:each="parametros : ${pratos}" action="/editarmenu" method="post" enctype="multipart/form-data">
          <input class="form-control" name="id" type="hidden" th:value="${parametros.id}"> <!-- gravar neste id -->
          <div class="form-group">
            <label for="exampleInputEmail1">Nome:</label>
            <input class="form-control" placeholder="Nome" name="nome" type="text" th:value="${parametros.nome}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Preço:</label>
            <input class="form-control" placeholder="€" name="custo" type="number" step="any" th:value="${parametros.custo}">
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <select name="categoria" class="form-control">
              <option>[[${parametros.categoria}]]</option>
              <span th:if="${parametros['categoria']} != 'entrada'">
                  <option value="entrada">Entrada</option>
              </span>
              <span th:if="${parametros['categoria']} != 'prato principal'">
                  <option value="prato principal">Prato Principal</option>
              </span>
              <span th:if="${parametros['categoria']} != 'bebida'">
                  <option value="bebida">Bebida</option>
              </span>
              <span th:if="${parametros['categoria']} != 'sobremessa'">
                  <option value="sobremessa">Sobremessa</option>
              </span>
            </select>
          </div>

          <div class="form-group">
            <label>Restaurante</label>
            <select name="id_restaurante" class="form-control">
              <span th:each="restaurantlist : ${listrestaurantes}">
                <span th:if="${parametros['id_restaurante'] == restaurantlist['id']}">
                    <option th:value="${restaurantlist.id}">[[${restaurantlist.nome}]]</option>
                </span></span>
                <span th:each="restaurantlist : ${listrestaurantes}">
                  <span th:if="${parametros['id_restaurante'] != restaurantlist['id']}">
                <option th:value="${restaurantlist.id}" >[[${restaurantlist.nome}]]</option></span>
                </span>
            </select>
          </div>

          <div class="form-group"> <label for="exampleTextarea">Ingredientes</label>
          <textarea class="form-control" name="ingrediente" rows="3" th:inline="text">[[${parametros.ingrediente}]]</textarea>
          </div>

          <div class="form-group">
          <label for="exampleTextarea">Foto Atual</label>
          <img class="form-control" th:src="${parametros.picture}" style="width:250px;">
          </div>

          <div class="form-group">
          <label for="exampleInputFile">Alterar Foto...</label>
          <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple>
          </div>


          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

      </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
