<div th:fragment="editar_rest_frag">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    if($('#Monday').is(':checked')){
        $("#dia1").val("Monday");
      }
      else{
          $("#dia1").val("Encerrado");
      }

    if($('#Tuesday').is(':checked')){
      $("#dia2").val("Tuesday");
    }  else{
          $("#dia2").val("Encerrado");
      }

    if($('#Wednesday').is(':checked')){
      $("#dia3").val("Wednesday");
    }  else{
          $("#dia3").val("Encerrado");
      }

    if($('#Thursday').is(':checked')){
      $("#dia4").val("Thursday");
    }  else{
          $("#dia4").val("Encerrado");
      }

    if($('#Friday').is(':checked')){
      $("#dia5").val("Friday");
    }else{
          $("#dia5").val("Encerrado");
      }

    if($('#Saturday').is(':checked')){
      $("#dia6").val("Saturday");
    }else{
          $("#dia6").val("Encerrado");
      }
    if($('#Sunday').is(':checked')){
      $("#dia7").val("Sunday");
    }else{
          $("#dia7").val("Encerrado");
      }



      if($('#Restaurante').is(':checked')){
      $("#srest").val("Restaurante");
    }else{
      $("#srest").val("Encerrado");
    }

    if($('#TakeAway').is(':checked')){
      $("#stakeaway").val("TakeAway");
    }else{
      $("#stakeaway").val("Encerrado");
    }

    if($('#Encomenda').is(':checked')){
      $("#sencomenda").val("Encomenda");
    }else{
      $("#sencomenda").val("Encerrado");
    }

    if($('#Reserva').is(':checked')){
      $("#sreserva").val("Reserva");
    }else{
      $("#sreserva").val("Encerrado");
    }


  });
</script>

  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">Editar Restaurante</div>

        <div class="card-body">
          <form th:each="parametros : ${restaurante}" action="/resgistar_restaurante" method="post" enctype="multipart/form-data">
            <input class="form-control" name="id" type="hidden" th:value="${parametros.id}"> <!-- gravar neste id -->
            <div class="form-group">
              <label for="exampleInputEmail1">Nome:</label>
              <input class="form-control" placeholder="Nome" name="nome" type="text" th:value="${parametros.nome}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Longitude:</label>
              <input class="form-control" placeholder="-045677897" name="longitude" type="number" step="0.000000001" min="-10000" max="999" th:value="${parametros.longitude}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Latitude:</label>
              <input class="form-control" placeholder="4879090877" name="latitude" type="number"  step="0.000000001" min="-10000" max="999" th:value="${parametros.latitude}">
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Categoria</label>
              <select name="categoria" class="form-control" id="exampleSelect1">
                <option value="">[[${parametros.categoria}]]</option>
                <option value="Comida Portuguesa">Comida Portuguesa</option>
                <option value="Chinês">Chinês</option>
                <option value="Japones">Japonês</option>
                <option value="Indiano">Indiano</option>
                  <option value="Indiano">Italiano</option>
              </select>
            </div>

            <div class="form-inline">
              <div class="form-group">
                <label for="exampleInputEmail1">Entrada Horas:</label>
                <input class="form-control" placeholder="12" name="hora_entrada" type="number" max="23" min="0" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Entrada Minutos:</label>
                <input class="form-control" placeholder="12" name="min_entrada" type="number" max="59" min="0" required>
              </div>
            </div>

            <div class="form-inline">
              <div class="form-group">
                <label for="exampleInputEmail1">Saida Horas:</label>
                <input class="form-control" placeholder="12" name="hora_saida" type="number" max="23" min="0" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Saida Minutos:</label>
                <input class="form-control" placeholder="12" name="min_saida" type="number" max="59" min="0" required>
              </div>
            </div>

          <!-- <div th:each="coisa : ${parametros.arDias_Semana}">
            <input type="text" name="" th:value="${coisa}">
          </div> -->


          <!--  <input type="text" th:field="${parametros}[__${stat.index}__].arDias_Semana}" />
          <select th:field="*{parametros}">
            <option
        th:each="parametros : ${arDias_Semana[1]}"
        th:value="${user.getId}"
        th:text="${user.getName}">
        </option>
        </select>-->

            <input type="hidden" name="dia1" value="Encerrado"  id="dia1">
            <input type="hidden" name="dia2" value="Encerrado"  id="dia2">
            <input type="hidden" name="dia3" value="Encerrado"  id="dia3">
            <input type="hidden" name="dia4" value="Encerrado"  id="dia4">
            <input type="hidden" name="dia5" value="Encerrado"  id="dia5">
            <input type="hidden" name="dia6" value="Encerrado"  id="dia6">
            <input type="hidden" name="dia7" value="Encerrado"  id="dia7">


            <div class="form-group">
              <label for="exampleInputEmail1">Dias funcionais:</label>
            <!--  <span th:each="teste : ${arr}"> -->
                  <span th:if="${arr[0]} == 'Monday'">
                     <input type="checkbox" id="Monday" aria-label="Checkbox for following text input" checked>
                     <div class="input-group-prepend">
                       <input value="Monday" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                   </span>

                   <span th:if="${arr[0]} == 'Encerrado'">
                       <input type="checkbox" id="Monday" aria-label="Checkbox for following text input" >
                       <div class="input-group-prepend">
                         <input value="Monday" class="form-control" aria-label="Text input with checkbox" disabled>
                       </div>
                     </span>

                <span th:if="${arr[1]} == 'Tuesday'">
                  <input type="checkbox" id="Tuesday" aria-label="Checkbox for following text input"checked>
                  <div class="input-group-prepend">
                    <input value="Tuesday" class="form-control" aria-label="Text input with checkbox" disabled>

                  </div>
                </span>

                <span th:if="${arr[1]} == 'Encerrado'">
                    <input type="checkbox" id="Tuesday" aria-label="Checkbox for following text input" >
                    <div class="input-group-prepend">
                      <input value="Tuesday" class="form-control" aria-label="Text input with checkbox" disabled>
                    </div>
                  </span>



                <span th:if="${arr[2]} == 'Wednesday'">
                  <input type="checkbox" id="Wednesday" aria-label="Checkbox for following text input" checked>
                  <div class="input-group-prepend">
                    <input value="Wednesday" class="form-control" aria-label="Text input with checkbox" disabled>

                  </div>
                </span>

                <span th:if="${arr[2]} == 'Encerrado'">
                    <input type="checkbox" id="Wednesday" aria-label="Checkbox for following text input" >
                    <div class="input-group-prepend">
                      <input value="Wednesday" class="form-control" aria-label="Text input with checkbox" disabled>
                    </div>
                  </span>





                <span th:if="${arr[3]} == 'Thursday'">
                  <input type="checkbox" id="Thursday" aria-label="Checkbox for following text input" checked>
                  <div class="input-group-prepend">
                    <input value=Thursday class="form-control" aria-label="Text input with checkbox" disabled>

                  </div>
                </span>

                <span th:if="${arr[3]} == 'Encerrado'">
                    <input type="checkbox" id="Thursday" aria-label="Checkbox for following text input" >
                    <div class="input-group-prepend">
                      <input value="Thursday" class="form-control" aria-label="Text input with checkbox" disabled>
                    </div>
                  </span>






                <span th:if="${arr[4]} == 'Friday'">
                  <input type="checkbox" id="Friday" aria-label="Checkbox for following text input" checked>
                  <div class="input-group-prepend">
                    <input value="Friday" class="form-control" aria-label="Text input with checkbox" disabled>

                  </div>
                </span>

                <span th:if="${arr[4]} == 'Encerrado'">
                    <input type="checkbox" id="Friday" aria-label="Checkbox for following text input" >
                    <div class="input-group-prepend">
                      <input value="Friday" class="form-control" aria-label="Text input with checkbox" disabled>
                    </div>
                  </span>





                <span th:if="${arr[5]} == 'Saturday'">
                  <input type="checkbox" id="Saturday" aria-label="Checkbox for following text input" checked>
                  <div class="input-group-prepend">
                    <input value="Saturday" class="form-control" aria-label="Text input with checkbox" disabled>
                  </div>
                </span>


                <span th:if="${arr[5]} == 'Encerrado'">
                    <input type="checkbox" id="Saturday" aria-label="Checkbox for following text input" >
                    <div class="input-group-prepend">
                      <input value="Saturday" class="form-control" aria-label="Text input with checkbox" disabled>
                    </div>
                  </span>




                <span th:if="${arr[6]} == 'Sunday'">
                  <input type="checkbox" id="Sunday" aria-label="Checkbox for following text input" checked>
                  <div class="input-group-prepend">
                    <input value="Sunday" class="form-control" aria-label="Text input with checkbox" disabled>
                  </div>
                </span>

                <span th:if="${arr[6]} == 'Encerrado'">
                    <input type="checkbox" id="Sunday" aria-label="Checkbox for following text input" >
                    <div class="input-group-prepend">
                      <input value="Sunday" class="form-control" aria-label="Text input with checkbox" disabled>
                    </div>
                  </span>

            <!--  </span> -->
            </div>


            <input type="hidden" name="srest" value="Inexistente" id="srest">
           <input type="hidden" name="stakeaway" value="Inexistente" id="stakeaway">
           <input type="hidden" name="sencomenda" value="Inexistente" id="sencomenda">
           <input type="hidden" name="sreserva" value="Inexistente" id="sreserva">


           <div class="form-group">
             <label for="exampleInputEmail1">Serviços Prestados:</label>

             <span th:if="${arrserv[0]} == 'Restaurante'">
                 <input type="checkbox" id="Restaurante" aria-label="Checkbox for following text input" checked>
                 <div class="input-group-prepend">
                   <input value="Restaurante" class="form-control" aria-label="Text input with checkbox" disabled>
                 </div>
               </span>

               <span th:if="${arrserv[0]} == 'Inexistente'">
                   <input type="checkbox" id="Restaurante" aria-label="Checkbox for following text input" >
                   <div class="input-group-prepend">
                     <input value="Restaurante" class="form-control" aria-label="Text input with checkbox" disabled>
                   </div>
                 </span>


                 <span th:if="${arrserv[1]} == 'TakeAway'">
                   <input type="checkbox" id="TakeAway" aria-label="Checkbox for following text input" checked>
                     <div class="input-group-prepend">
                       <input value="TakeAway" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                   </span>

                 <span th:if="${arrserv[1]} == 'Inexistente'">
                   <input type="checkbox" id="TakeAway" aria-label="Checkbox for following text input" >
                     <div class="input-group-prepend">
                       <input value="TakeAway" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                 </span>


                 <span th:if="${arrserv[2]} == 'Encomenda'">
                   <input type="checkbox" id="Encomenda" aria-label="Checkbox for following text input" checked>
                     <div class="input-group-prepend">
                       <input value="Encomenda" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                   </span>

                 <span th:if="${arrserv[2]} == 'Inexistente'">
                   <input type="checkbox" id="Encomenda" aria-label="Checkbox for following text input" >
                     <div class="input-group-prepend">
                       <input value="Encomenda" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                 </span>

                 <span th:if="${arrserv[3]} == 'Reserva'">
                   <input type="checkbox" id="Reserva" aria-label="Checkbox for following text input" checked>
                     <div class="input-group-prepend">
                       <input value="Reserva" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                   </span>

                 <span th:if="${arrserv[3]} == 'Inexistente'">
                   <input type="checkbox" id="Reserva" aria-label="Checkbox for following text input" >
                     <div class="input-group-prepend">
                       <input value="Reserva" class="form-control" aria-label="Text input with checkbox" disabled>
                     </div>
                 </span>


           </div>


        <!--    <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Tuesday" value="Tuesday" aria-label="Checkbox for following text input">
                <input value="Tuesday" name="Tuesday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Wednesday"  value="Wednesday" aria-label="Checkbox for following text input">
                <input value="Wednesday" name="Wednesday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Thursday" value="Thursday" aria-label="Checkbox for following text input">
                <input value="Thursday" name="Thursday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Friday"  value="Friday" aria-label="Checkbox for following text input">
                <input value="Friday" name="Friday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Saturday" value="Saturday"  aria-label="Checkbox for following text input">
                <input value="Saturday" name="Saturday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group-prepend">
                <input type="checkbox" id="Sunday" value="Sunday" aria-label="Checkbox for following text input">
                <input value="Sunday" name="Sunday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div> -->

            <div class="form-group"> <label for="exampleTextarea">Descrição</label>
            <textarea class="form-control" name="descricao" rows="3" th:inline="text">[[${parametros.descricao}]]</textarea>
            </div>

            <div class="form-group">
            <label for="exampleTextarea">Foto Atual</label>
            <img class="form-control" th:src="${parametros.picture}" style="width:250px;">
            </div>

            <div class="form-group">
            <label for="exampleInputFile">Alterar Foto...</label>
            <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple>
            </div>


            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
