<div th:fragment="editar_conta_frag">

  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">Minha Conta</div>

        <div class="card-body">
          <form th:each="parametros : ${conta}" action="/edit_conta" method="post" enctype="multipart/form-data">
            <input class="form-control" name="id" type="hidden" th:value="${parametros.id}"> <!-- gravar neste id -->
            <input class="form-control" name="tipo" type="hidden" th:value="${parametros.tipo}">
            <div class="form-group">
              <label>Nome:</label>
              <input class="form-control" placeholder="Nome" name="nome" type="text" th:value="${parametros.nome}">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email:</label>
              <input class="form-control" placeholder="" name="email" type="text" th:value="${parametros.email}">
            </div>
            <div class="form-group">
              <label>Contacto:</label>
              <input class="form-control" placeholder="" name="contacto" type="number" th:value="${parametros.contacto}">
            </div>
            <div class="form-group">
              <label>Username:</label>
              <input class="form-control" placeholder="" name="username" type="text" th:value="${parametros.username}">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input class="form-control" placeholder="" name="password" type="text" th:value="${parametros.password}">
            </div>

            <div class="form-group">
            <label for="exampleTextarea">Foto Atual</label>
            <img class="form-control" th:src="${parametros.foto}" style="width:250px;">
            </div>

            <div class="form-group">
            <label for="exampleInputFile">Alterar Foto...</label>
            <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
