<div th:fragment="introduzir_rest_frag">

  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">Introduzir Restaurante</div>

        <div class="card-body">
          <form action="/resgistar_restaurante" method="post"  enctype="multipart/form-data">

            <div class="form-group">
              <label for="exampleInputEmail1">Nome:</label>
              <input class="form-control" placeholder="Nome" name="nome" type="text" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Longitude:</label>
              <input class="form-control" placeholder="-045677897" name="longitude" type="number" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Latitude:</label>
              <input class="form-control" placeholder="4879090877" name="latitude" type="number" required>
            </div>
          <!--  <input type="time" id="appt" name="appt"
            min="9:00" max="18:00" required>-->
            <div class="form-group">
              <label for="exampleSelect1">Categoria</label>
              <select name="categoria" class="form-control" id="exampleSelect1" required>
                <option value=""></option>
                <option value="Comida Portuguesa">Comida Portuguesa</option>
                <option value="Chines">Chinês</option>
                <option value="Sushi">Sushi</option>
                <option value="Fast-Food">Fast-Food</option>
              </select>
            </div>
            <div class="form-inline">
              <div class="form-group">
                <label for="email">Abertura:</label>
                <input type="time" class="form-control" id="email">
              </div>

              <div class="form-group">
                <label for="pwd">Fecho:</label>
                <input type="time" class="form-control" id="pwd">
              </div>

            </div>
            <br>
            <div class="form-group">
                <div class="input-group-prepend">
              <input type="checkbox" aria-label="Checkbox for following text input">
              <input value="Monday" class="form-control" aria-label="Text input with checkbox" disabled>
              </div>
            </div>

            <div class="form-group"> <label for="exampleTextarea">Descrição</label>
            <textarea class="form-control" name="descricao" rows="3" required></textarea>
            </div>
            <div class="form-group">
            <label for="exampleInputFile">Explorar...</label>
            <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple required>
            </div>


            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
