<div th:fragment="introduzir_pessoas_frag">

    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="card">
          <div class="card-header">Introduzir Utilizadores</div>

          <div class="card-body">
            <form action="/registar" method="post" enctype="multipart/form-data">

              <div class="form-group">
                <label>Nome:</label>
                <input class="form-control" placeholder="Nome" name="nome" type="text" required>
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input class="form-control" placeholder="exemplo@hotmail.com" name="email" type="email" required>
              </div>
              <div class="form-group">
                <label>Contacto:</label>
                <input class="form-control" placeholder="213456637" name="contacto" type="number" maxlength="13" required>
              </div>
              <div class="form-group">
                <label>Username:</label>
                <input class="form-control" placeholder="username" name="username" type="text" required>
              </div>
              <div class="form-group">
                <label>Password:</label>
                <input class="form-control" placeholder="password" name="password" type="password" required>
              </div>
              <div class="form-group">
                <label for="exampleSelect1">Tipo de Utilizador</label>
                <select name="tipo" class="form-control" id="exampleSelect1" required>
                  <option value=""></option>
                  <option value="0">Admistrador</option>
                  <option value="1">Dono</option>
                </select>
              </div>
              <div class="form-group">
              <label for="exampleInputFile">Explorar...</label>
              <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple>
              </div>
              <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>

          </div>

        </div>
      </div>
    </div>

</div>
