<div th:fragment="introduzir_menu_frag">

  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">Introduzir Menu</div>

        <div class="card-body">
          <form action="/acceptmenu" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="exampleInputEmail1">Nome do prato:</label>
              <input class="form-control" placeholder="Nome" name="nome" type="text" required>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Ingridientes:</label>
              <input class="form-control" placeholder="-045677897" name="ingrediente" type="text" required>
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Categoria</label>
              <select name="categoria" class="form-control" id="exampleSelect1" required>
                <option value=""></option>
                <option value="entrada">Entrada</option>
                <option value="prato principal">Prato Principal</option>
                <option value="bebida">Bebida</option>
                <option value="sobremesa">Sobremesa</option>
              </select>
            </div>

          <div class="form-group">
              <label for="exampleSelect1">Restaurante</label>
              <select name="id_restaurante" class="form-control" id="exampleSelect1" required>
                  <option ></option>
                <span th:each="parametros : ${listrestaurantes}">
                <option th:value="${parametros.id}" >[[${parametros.nome}]]</option>
                </span>
              </select>
          </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Preço:</label>
              <input class="form-control" placeholder="4879090877" type="number" step="any" name="custo" required>
            </div>

            <div class="form-group">
            <label for="exampleInputFile">Explorar...</label>
            <input class="form-control-file" aria-describedby="fileHelp" type="file" name="files" multiple required>
            </div>


            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>

        </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

</div>
