<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Painel Administrador</title>

    <!-- Fontfaces CSS-->
    <link href="css/font-face.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">   <!--TRASH-O retirar se der shit ( no delete da lista rest)-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap CSS-->
    <link href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
  <script>
      $(document).ready(function(){
        $("#Monday").click(function(){
          if($("#dia1").val() == "Monday"){
            $("#dia1").val("Encerrado")
          }else {
              $("#dia1").val("Monday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Tuesday").click(function(){
          if($("#dia2").val() == "Tuesday"){
            $("#dia2").val("Encerrado")
          }else {
              $("#dia2").val("Tuesday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Wednesday").click(function(){
          if($("#dia3").val() == "Wednesday"){
            $("#dia3").val("Encerrado")
          }else {
              $("#dia3").val("Wednesday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Thursday").click(function(){
          if($("#dia4").val() == "Thursday"){
            $("#dia4").val("Encerrado")
          }else {
              $("#dia4").val("Thursday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Friday").click(function(){
          if($("#dia5").val() == "Friday"){
            $("#dia5").val("Encerrado")
          }else {
              $("#dia5").val("Friday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Saturday").click(function(){
          if($("#dia6").val() == "Saturday"){
            $("#dia6").val("Encerrado")
          }else {
              $("#dia6").val("Saturday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Sunday").click(function(){
          if($("#dia7").val() == "Sunday"){
            $("#dia7").val("Encerrado")
          }else {
              $("#dia7").val("Sunday");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Restaurante").click(function(){
          if($("#srest").val() == "Restaurante"){
            $("#srest").val("Inexistente")
          }else {
              $("#srest").val("Restaurante");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#TakeAway").click(function(){
          if($("#stakeaway").val() == "TakeAway"){
            $("#stakeaway").val("Inexistente")
          }else {
              $("#stakeaway").val("TakeAway");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Encomenda").click(function(){
          if($("#sencomenda").val() == "Encomenda"){
            $("#sencomenda").val("Inexistente")
          }else {
              $("#sencomenda").val("Encomenda");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });
        $("#Reserva").click(function(){
          if($("#sreserva").val() == "Reserva"){
            $("#sreserva").val("Inexistente")
          }else {
              $("#sreserva").val("Reserva");
          }
            /*alert($("#tipo").val());*/
            /*console.log();*/
        });

      });

  </script>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Restaurante</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="index.html">Inserir</a>
                                </li>
                                <li>
                                    <a href="index2.html">Listar</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Charts</a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Tables</a>
                        </li>
                        <li>
                            <a href="form.html">
                                <i class="far fa-check-square"></i>Forms</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-calendar-alt"></i>Calendar</a>
                        </li>
                        <li>
                            <a href="map.html">
                                <i class="fas fa-map-marker-alt"></i>Maps</a>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login1</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <!--<span th:include="lateral::slide"> </span>-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="http://18.222.203.109:6997/inicio?fragment=painel_admin">
                    <img src="images/icon/logo.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-utensils"></i>Restaurantes</a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/introduzir_restaurante?fragment=introduzir_rest">Introduzir Restaurante</a>
                                </li>
                                <li>
                                    <a href="/listagem?fragment=listar_rest">Listar Restaurantes</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fa fa-users"></i>Gestão de Utilizadores</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/introduzir?fragment=introduzir_user">Introduzir</a>
                                </li>
                                <li>
                                    <a href="/listagem_utilizadores?fragment=listagem_users">Listagem</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/lista_users_app?fragment=listagem_users">
                                <i class="fas fa-user"></i>Usuários da Aplicação</a>

                        </li>

                        <li>
                            <a href="/caixa_entrada?fragment=lista_mensagens">
                                <i class="fa fa-envelope"></i>Caixa de Entrada</a>
                        </li>

                        <li>
                            <a href="/local_rest?fragment=maps"> <!--fazer MAPING -->
                                <i class="fas fa-map-marker-alt"></i>Localização</a>
                        </li>
                      <!--  <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="/login">Login2</a>
                                </li>
                                <li>
                                    <a href="http://localhost:8080/registar">Registar</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li> -->
                        <!-- <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-desktop"></i>UI Elements</a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    <a href="button.html">Button</a>
                                </li>
                                <li>
                                    <a href="badge.html">Badges</a>
                                </li>
                                <li>
                                    <a href="tab.html">Tabs</a>
                                </li>
                                <li>
                                    <a href="card.html">Cards</a>
                                </li>
                                <li>
                                    <a href="alert.html">Alerts</a>
                                </li>
                                <li>
                                    <a href="progress-bar.html">Progress Bars</a>
                                </li>
                                <li>
                                    <a href="modal.html">Modals</a>
                                </li>
                                <li>
                                    <a href="switch.html">Switchs</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grids</a>
                                </li>
                                <li>
                                    <a href="fontawesome.html">Fontawesome Icon</a>
                                </li>
                                <li>
                                    <a href="typo.html">Typography</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="/procurar" method="post">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Nome de restaurantes e utilizadores..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pesquisar Categoria
                            </button>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <form action="/procurar_categoria" method="get">
                                <input class="dropdown-item" value="Todos Restaurantes" type="submit" name="categoria">
                                <input class="dropdown-item" value="Comida Portuguesa" text="Comida Portuguesa" type="submit" name="categoria">
                                <input class="dropdown-item" value="Chines" text="Chines" type="submit" name="categoria">
                                <input class="dropdown-item" value="Sushi" text="Sushi" type="submit" name="categoria">
                                <input class="dropdown-item" value="Fast-Food" text="Fast-Food" type="submit" name="categoria">
                              </form>
                            </div>

                          </div>
                            <div class="header-button">
                                <div class="noti-wrap">
                                </div><!--se der shit aqui esta div com dropdown -->
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img th:src="${session.user.foto}"/>
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#" th:text="${session.user.nome}"></a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img th:src="${session.user.foto}"/>
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                      <span th:text="${session.user.nome}"></span>
                                                    </h5>
                                                    <span class="email" th:text="${session.user.email}"></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">

                                                   <a th:href="@{/minha_conta?fragment=conta&id={type}(type=${session.user.id})}">

                                                      <i class="zmdi zmdi-account" ></i>Minha Conta
                                                  </a>


                                                  <!--  <form action="/minha_conta?fragment=conta" method="post">
                                                    <input class="form-control" name="id" type="hidden" th:value="${session.user.id}">
                                                      <div class="fa-hover col-lg-3 col-md-6">
                                                        <button type="submit">
                                                          http://localhost:8080/minha_conta?id=session.user.id
                                                          <a href="#">

                                                              <i class="zmdi zmdi-account"></i>Minha Conta
                                                          </a>

                                                      </button>
                                                      </div>
                                                    </form> -->

                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#">
                                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">

                                                    <a href="http://18.222.203.109:6997/logout">
                                                    <i class="zmdi zmdi-power"></i>Sair</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">


              <div th:switch="${fragment}">
                <div th:case="painel_admin">
                  <span th:include="painel_admin::painel_admin_frag"> </span>
                </div>

                <div th:case="introduzir_rest">
                  <span th:include="introduzir_rest::introduzir_rest_frag"> </span>
                </div>

                <div th:case="listar_rest">
                  <span th:include="listar_rest::listar_rest_frag"> </span> <!--1 - nome do ficheiro .html e 2 - nome do frag em listar_rest_frag -->
                </div>

                <div th:case="editar_rest">
                  <span th:include="editar_rest::editar_rest_frag"> </span>
                </div>

                <div th:case="introduzir_user">
                  <span th:include="introduzir_pessoas::introduzir_pessoas_frag"> </span>
                </div>

                <div th:case="listagem_users">
                  <span th:include="listar_utilizadores::listar_utilizadores_frag"> </span>
                </div>

                <div th:case="editar_user">
                  <span th:include="editar_utilizadores::editar_utilizadores_frag"> </span>
                </div>

                <div th:case="nova_mensagem">
                  <span th:include="nova_mensagem::nova_mensagem_frag"> </span>
                </div>

                <div th:case="lista_mensagens">
                  <span th:include="listar_mensagens::listar_mens_frag"> </span>
                </div>

                <div th:case="conta">
                  <span th:include="editar_conta::editar_conta_frag"> </span>
                </div>

                <div th:case="maps">
                  <span th:include="maps::maps_frag"> </span>
                </div>

              </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2018 Findlechef. All rights reserved.</p>
                                </div>
                            </div>
                        </div>


            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
