<div th:fragment="nova_mensagem_frag">

  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">Enviar Mensagem</div>

        <div class="card-body">
          <form th:each="parametros : ${contacto}" action="/enviar_mensagem" method="post">

            <div class="form-group">
              <label>Nome:</label>
              <input class="form-control"  name="nome" type="text" disabled th:value="${parametros.nome}">
            </div>
            <div class="form-group">
              <label>Email:</label>

              <input class="form-control" name="email" type="email" disabled th:value="${parametros.email}">

            </div>
            <div class="form-group"> <label>Mensagem</label>
            <textarea class="form-control" name="mensagem" rows="3" required></textarea>
            </div>
            <span th:each="valor : ${contacto}">
            </span>

            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>

        </div>

      </div>
    </div>
  </div>

</div>
